.home {
  width: 1200px;
  margin: auto;
  .menu {
    position: relative;
    min-height: 56px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #ddd;
    a {
      text-decoration: none;
    }
    a.title {
      display: block;
      line-height: 50px;
      padding: 0 14px 0 15px;
      color: #333;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        border: 0;
        display: inline-block;
        text-align: left;
        position: relative;
        &:hover {
          &:before,
          &:after {
            left: 45%;
            bottom: -1px;
            z-index: 99999;
            border: solid transparent;
            content: " ";
            position: absolute;
          }
          &:before {
            border-bottom-color: #ddd;
            border-width: 12px;
            margin-left: -7px;
          }
          &:after {
            border-bottom-color: #fff;
            border-width: 11px;
            margin-left: -6px;
          }
        }
        &:hover > .submenu {
          z-index: 9999;
          visibility: visible;
          opacity: 1;
        }
        .submenu {
          position: absolute;
          background: #fff;
          visibility: hidden;
          transition: all 0.3s ease;
          opacity: 0;
          border: 1px solid #eaeaea;
          min-width: 225px;
          padding: 5px 0 15px;
          ul {
            li {
              position: relative;
              &:hover {
                &.parent:after {
                  color: #e34444;
                }
              }
              &:hover > a {
                background: #eaeaea;
              }
              &:hover > .submenu {
                opacity: 1;
                transition: all 0.25s ease-out 0.2s;
                transform: scale(1);
                transform-origin: top left;
                visibility: visible;
              }
              &.parent:after {
                position: absolute;
                top: 50%;
                right: 14px;
                font-size: 14px;
                margin-top: -7px;
                content: "→";
                line-height: 14px;
                color: #cdcdcd;
              }
              a {
                display: block;
                padding: 0 15px;
                line-height: 32px;
                color: #666;
              }
              .submenu {
                position: absolute;
                min-width: 225px;
                padding: 15px 0;
                top: 0;
                left: 100%;
                background: #fff;
                border: 1px solid #eaeaea;
                opacity: 0;
                transition: all 0.25s ease-out;
                transform: scale(0.7);
                transform-origin: top left;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}
